.list {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: 600;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  overflow-x: auto;
  width: 650px;
  padding: 0 10px;
}

.button {
  background-color: #007aff;
  padding: 6px 8px;
  color: #fff;
  border-radius: 7px;
  margin: 0 0 0 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: capitalize;

  & a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
}