
.root {
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 100px;
  padding-bottom: 86%;
  position: relative;
  width: 100%;
}

.iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  pointer-events: auto;
  background-color: white;
}

.container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  pointer-events: auto;
}

.iframePreview {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  filter: blur(10px);
  transition: opacity 150ms ease-in, filter 150ms ease-in;
}

.embed {
  width: 100%;
  height: 100%;
  position: relative;

  & >div {
    height: 100%;
  }
  & >div > div {
    height: 100%;
  }

  & iframe {
    height: 100% !important;
    width: 100% !important;
  }
}
