$bg-left: #485563;
$bg-right: #29323c;
$dot: #909090;
$line: #F8F8F8;

.container {
  position: relative;
  height: 100%;
  width: 100%;

  .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 4px;
    width: 4px;
    background-color: $dot;
    border-radius: 5rem;

    &:nth-child(1) {
      left: calc(50% - 10px);
      animation: waveUp 2s, smallExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    &:nth-child(2) {
      left: calc(50% - 5px);
      animation: waveUp 2s, largeExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.15s;
    }

    &:nth-child(3) {
      left: 50%;
      animation: waveUp 2s, smallExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.3s;
    }

    &:nth-child(4) {
      left: calc(50% + 5px);
      animation: waveUp 2s, largeExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.45s;
    }

    &:nth-child(5) {
      left: calc(50% + 10px);
      animation: waveUp 2s, smallExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.6s;
    }

    @keyframes waveUp {
      0%,
      15% {
        top: 50%;
      }
      45%,
      65% {
        top: 42.5%;
      }
      85%,
      100% {
        top: 50%;
      }
    }

    @keyframes smallExtend {
      0%,
      8% {
        background-color: $dot;
        height: 5px;
      }
      14%,
      34% {
        background-color: $line;
        height: 3px;
      }
      46%,
      100% {
        background-color: $dot;
        height: 5px;
      }
    }

    @keyframes largeExtend {
      0%,
      8% {
        background-color: $dot;
        height: 5px;
      }
      14%,
      34% {
        background-color: $line;
        height: 8px;
      }
      46%,
      100% {
        background-color: $dot;
        height: 5px;
      }
    }
  }
}
