.relative {
  position: relative;
}

.absolute {
  position: absolute;
  opacity: 1;
  z-index: 6;
}

.elementList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.root {
  width: 100%;
}

.chatContent {
  max-width: 500px;
  min-width: 400px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 6%, .05), 0 3px 6px hsla(0, 0%, 6%, .1), 0 9px 24px hsla(0, 0%, 6%, .2);
  width: 100%;
  position: relative;
}
