.block {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  flex: 0 0 auto;
  max-width: 100%;
  background: #262625;
  position: absolute;
  bottom: calc(100% + 8px);
  border-radius: 8px;
}

.button {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: inherit;
  border: none;
  cursor: pointer;
}

.input {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  margin: 0 .5rem;
  outline: none;
  border: none;
  padding: 0;
  background: inherit;
  font-size: 16px;
  color: #fff;
}

.line {
  margin: 0 .25rem;
  width: 1px;
  height: 25px;
  background-color: #0f0f0f;
}