.editorContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  padding-bottom: 20px;
}

.editorContent {
  width: 100%;
  height: auto;
}
