.root {
  display: flex;
  align-items: center;
  transform-origin: 0% top;
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 200px;
  max-width: calc(100vw - 24px);
  height: auto;
  max-height: 70vh;
  opacity: 1;
  border-radius: 4px;
  background: #fff;
  position: fixed;
  max-width: calc(100vw - 24px);
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  min-height: 0px;
  transform: translateZ(0px);
  z-index: 1;
  overflow: hidden auto;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  position: relative;
}

.group {
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
}

.item {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: calc(100% - 8px);
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 3px;
  border: none;
  display: flex;
  align-items: center;
  line-height: 120%;
  user-select: none;
  min-height: 28px;
  font-size: 14px;
  background: inherit;
  color: #000;

  &:hover {
    background-color: rgba(55, 53, 47, 0.08);
    color: #000;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 4px;
  color: #000;
}

.text {
  margin-left: 6px;
  margin-right: 6px;
  min-width: 0px;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.hotkey {
  margin-left: auto;
  margin-right: 12px;
  min-width: 0px;
  flex-shrink: 0;
  color: rgba(55, 53, 47, 0.5);
  font-size: 12px;
  white-space: nowrap;
}