node_modules
tests
src
development
web
.idea
.github
docs
example
src
test
.babelrc
.editorconfig
.eslintignore
.eslintrc
.git
.gitmodules
.postcssrc.yml
cypress.json
tsconfig.json
tslint.json
rollup.config.js
yarn.lock