/* @tailwind base; */
@tailwind components;
@tailwind utilities;


html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

#__next {
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

#yoopta-editor {
  width: 650px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}