.leaf {
  margin: 1px 0;
  white-space: pre-wrap;
  word-break: break-word;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.underline {
  border-bottom: 0.05em solid;
  word-wrap: break-word;
}

.placeholder:after {
  content: attr(data-placeholder);
  color: #aaa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  text-indent: 2px;
  font-size: 75%;
  font-weight: inherit;
  font-style: inherit;
}