.hoverWrap {
  width: 100%;
  height: auto;
  position: relative;

  &:hover {
    .hoverSettings {
      opacity: 1;
    }
  }
}

.hoverSettings {
  opacity: 0;
  position: absolute;
  left: -60px;
  top: 7px;
  transition: opacity 250ms;
  display: flex;
}

.hoverSettingsItem {
  all: unset;
  cursor: pointer;
  border-radius: 6px;
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  background-color: transparent;
  transition: background-color 250ms;
  margin-right: 2px;

  &:first-child {
    padding: 0;
    width: 24px;
  }

  &:hover {
    background-color: #dbdada;
  }
}