.hoverWrap {
  width: 100%;
  height: auto;
  position: relative;
}

.isOver {
  &::after {
    content: "";
    position: absolute;
    bottom: -7px;
    height: 3px;
    width: calc(100% - 128px);
    background-color: #007AFF;
    left: 50%;
    transform: translateX(-50%);
  }
}

.isOverSelf {
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    height: 3px;
    width: calc(100% - 128px);
    background-color: #007AFF;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hoverSettings {
  transition: opacity 200ms ease-in-out;
  display: flex;
  position: absolute;
  top: 5px;
  left: 0;
  right: auto;
  bottom: auto;
}

.actions {
  display: flex;
}

.hoverSettingsItem {
  all: unset;
  cursor: pointer;
  border-radius: 6px;
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  background-color: transparent;
  transition: background-color 250ms;
  margin-right: 2px;
  position: relative;

  &:first-child {
    padding: 0;
    width: 24px;
  }

  &:hover {
    background-color: #dbdada;
  }
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
}

.menuList {
  position: absolute;
}

.content {
  padding: 0 64px;
}