.blockquote {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0;
  letter-spacing: -0.003em;
  font-size: 16px;
  color: rgba(41, 41, 41, 1);
  line-height: 24px;
  position: relative;
  border-left: 3px solid currentcolor;
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}
