.editorContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.editorContent {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}