.editorContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.editorContent {
  max-width: 864px;
  padding-top: 4rem;
  padding-bottom: 30vh;
  margin: 0;
  width: 100%;
}