.root {
  display: block;
  cursor: pointer;
  position: relative;

  &:hover {
    & .resizer {
      opacity: 1;
    }
  }
}

.loadingState {
  pointer-events: none;
}

.extraMargin {
  margin: 20px 0 30px 0;
}

.resizeLib {
  margin: 0 auto;
}

.resizer {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  height: 100%;
  width: 15px;
  cursor: col-resize;
  transition: opacity 150ms ease-in 0s;
}

.leftResizer {
  composes: resizer;
  left: 0px;
  top: 0px;
}

.rightResizer {
  composes: resizer;
  right: 0px;
  top: 0px;
}

.resizeItem {
  opacity: 1;
  transition: opacity 300ms ease-in 0s;
  border-radius: 20px;
  background: rgba(15, 15, 15, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 6px;
  height: 48px;
  max-height: 50%;
  box-shadow: 0 0 0 .5px #FFF;
}

.selectImg {
  opacity: 0;
}

.selected {
  position: absolute;
  pointer-events: none;
  inset: 0px;
  background: rgba(35, 131, 226, 0.14);
  z-index: 81;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 150ms ease-in 0s;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}