.imgElement {
  margin: 20px 0 10px 0;
  position: relative;
}

.img {
  display: block;
  object-fit: cover;
  border-radius: 1px;
  pointer-events: auto;
  max-width: 100%;
  margin: 0 auto;
}

.figure {
  // width: 100%;
  height: 100%;
  margin: 0;
}

.caption {
  font-size: 14px;
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  font-size: 14px;
  line-height: 1.4;
  color: rgba(55, 53, 47, 0.65);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
}