.root {
  position: relative;
}

.chat {
  position: relative;
  border-radius: 8px;
  border: 1px solid #565856;
  width: 580px;
  background: #232529;
}

.toolbar {
  width: 100%;
  display: flex;
  padding: 4px;
}

.toolbarItem {
  flex: 0 0 28px;
  margin-bottom: 0;
  color: #fff;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  margin: 2px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-state-active] {
    background-color: #3c3e42;
  }

  &[data-format-bold] {
    font-weight: bold;
  }

  &[data-format-italic] {
    font-style: italic;
  }

  &[data-format-strike] {
    text-decoration: line-through;
  }
}

.chatText {
  font-size: 15px !important;
  line-height: 1.46668 !important;
  margin-top: .2rem !important;
}

.separator {
  composes: toolbarItem;
  width: 1px;
  padding: 0;
  background: #565856;
  margin: 0 2px;
  flex: 0 0 1px;
}

.inputWrap {
  align-self: stretch;
  min-width: 0;
  display: flex;
  position: relative;
}

.editor {
  width: 100%;
  margin: 0;
  color: #fff;
  max-height: calc(60vh - 80px);
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px !important;
  padding-right: 12px;
  overflow-y: auto;
}