.heading-three {
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.52em;
  margin-bottom: -0.38em;
  color: rgba(41, 41, 41, 1);
  line-height: 1.3;
}