@tailwind utilities;

.yoopta-code-cm-editor .cm-content {
  font-size: 14px;
  line-height: 24px;
  padding: 28px 16px;
}

.yoopta-code-cm-editor .cm-editor {
  border-radius: 5px;
  border: 1px solid #e2e8f0;
  outline: none !important;
}

.yoopta-code-select,
.yoopta-code-options {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.yoopta-code:hover .yoopta-code-select,
.yoopta-code:hover .yoopta-code-options {
  opacity: 1;
}

.yoopta-code-cm-editor .cm-focus {
  outline: 1px solid #90cdf4 !important;
}