.todoListItem {
  color: #292929;
  letter-spacing: -.003em;
  line-height: 24px;
  margin-bottom: 1px;
  margin-top: 1px;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2px;
  color: inherit;
  fill: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
}

.checked {
  text-decoration: line-through;
}

.label {
  user-select: none;
  margin-right: 2px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 30px;
}

.label + .label {
  margin-top: 1em;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.10em solid currentColor;
  place-content: center;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms ease-out 0s;
}

.input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  color: inherit;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: CanvasText;
}

.input:checked::before {
  transform: scale(1);
}

.children {
  min-width: 1px;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  padding: 3px 2px;
  text-align: left;
  opacity: 1;
}