/* @tailwind base; */
@tailwind utilities;

*,
:after,
:before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

::-moz-selection {
  background: #c6ddf8;
}

::selection {
  background: #c6ddf8;
}

#yoopta-editor {
  min-width: 400px;
  height: auto;
}

.yoopta-placeholder::after {
  content: attr(data-placeholder);
  opacity: 0.5;
  color: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  text-indent: 2px;
  font-size: 75%;
  padding-left: 5px;
  font-weight: inherit;
  font-style: inherit;
}