html,
body {
  padding: 0;
  margin: 0;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.button {
  cursor: pointer;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  background: #6b6b6c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2c2c; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #57575e; 
}