html,
body {
  padding: 0;
  margin: 0;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}
