html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#next {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.colored-red {
  color: red;
}
