.root {
  position: relative;
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.button {
  height: 44px;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
  border: 0;
  color: #fff;
  box-sizing: content-box;
  vertical-align: center;
  position: relative;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,0);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  user-select: none;
  box-sizing: border-box;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;

  &:hover, &:focus {
    background: #383835;
  }

}

.item {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  & svg {
    fill: currentColor;
  }
}

.separator {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  margin: 0 6px;
  height: 24px;
  background: rgba(255,255,255,.2);
}