.container {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  padding: 0 64px;

  :global {

    #yoopta-editor {
      width: 700px;
      padding-top: 3.5rem;
      padding-bottom: 50px;
      margin: 0 auto;
    }

    // .yoopta-paragraph,
    // .yoopta-list-item,
    // .yoopta-block-quote,
    // .yoopta-callout {
    //   font-family: inherit;
    //   font-style: normal;
    //   font-weight: 400;
    //   font-size: 17px;
    //   line-height: 27px;
    //   max-width: 100%;
    //   width: 100%;
    //   white-space: pre-wrap;
    //   word-break: break-word;
    //   caret-color: rgb(55, 53, 47);
    //   padding: 3px 2px;
    // }
  }
}

.editor {
 
}

.callout {
  background-color: red;
}