.code {
  background-color: #1e1e1e;
  color: #fff;
  padding: 26px 16px 26px 26px;
  min-height: 1em;
  margin-top: 1.5em;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  display: block;
  position: relative;
}

.pre {
  margin: 0;
  line-height: 20px;
}