html,
body {
  padding: 0;
  margin: 0;
  // font-family: 'Inter', sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
