.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editorWrapper {
  max-width: 680px;
  width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 400px;

  :global {
    .yopta-paragraph, .yopta-list-item, .yopta-block-quote, .yopta-callout {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      color: #000000;
    }

    .yopta-callout {
      font-size: 15px;
      line-height: 25px;
    }
  }
}