.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editorWrapper {
  max-width: 850px;
  width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 11rem;

  :global {
    .yopta-paragraph, .yopta-list-item {
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      color: #000000;
    }
  }
}