.alertRoot {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.right {
  left: auto;
  right: 24px;
}

.left {
  right: auto;
  left: 24px;
}

.alertContent {
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  margin-top: 7px;
  cursor: pointer;
}

.info {
  color: #FFF;
  background-color: #262625;
}

.success {
  color: #FFF;
  background-color: #1ea41e;
}

.error {
  color: #fff;
  background-color: #F03030;
}