.menu {
  position: fixed;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 10px;
  transition: opacity 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;

  & > * {
    display: inline-block;
  }
  & > * + * {
    margin-left: 15px;
  }
}

.toolbar {
  border-radius: 10px;
  width: auto;
  background: #262625;
  display: flex;
  padding: 5px;
  position: relative;
}

.button {
  all: unset;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  border-radius: 10px;
  background: inherit;
  transition: background 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 1px;

  &:hover, &:focus {
    background: #383835;
  }

  span {
    margin-left: 8px;
  }

  &.__active {
    background: #007AFF;
  }
}
