.root {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

.box {
  --bgColor-default: #0d1117;
  --bgColor-muted: #161b22;
  --bgColor-inset: #010409;
  --bgColor-emphasis: #6e7681;
  --bgColor-inverse: #ffffff;

  background-color: var(--bgColor-default);
  border-color: var(--borderColor-default);
  border-radius: 0.375rem;
  border-style: solid;
  border-width: var(--borderWidth-thin);
}

.tabNav {
  display: flex;
  background-color: var(--bgColor-muted, var(--color-canvas-subtle));
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 0;
  border-bottom: var(--borderWidth-thin) solid var(--borderColor-default);
  margin-bottom: var(--stack-gap-normal);
  margin-top: 0;
  width: 100%;
}

.tabs {
  margin-top: -1px;
  margin-left: -1px;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 0;
  overflow: auto;
}

.tab {
  -webkit-appearance: button;
  background-color: initial;
  border: 1px solid #0000;
  border-bottom: 0;
  color: #8d96a0;
  display: inline-block;
  flex-shrink: 0;
  font-size: var(--text-body-size-medium);
  line-height: 23px;
  padding: 8px 16px;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: color .2s cubic-bezier(0.3, 0, 0.5, 1);
  cursor: pointer;

  &[aria-selected=true] {
    background-color: #0d1117;
    border-color: #30363d;
    border-radius: 0.375rem 0.375rem 0 0;
    color: #e6edf3;
  }
}

.toolbar {
  display: flex;
  min-width: 0;
  margin-right: 4px;
  flex-shrink: 1;
  flex-grow: 1;
}

.commentBox {
  border-color: transparent;
  display: block;
  width: auto;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #30363d;

  &>div {
    height: 100%;
  }
}

.textarea {
  height: 300px;
  width: 100%;
  background-color: transparent;
  display: block;
  width: 100%;
  min-height: 102px;
  padding: 0.5rem;
  line-height: 1.5;
  resize: vertical;
  background: none;
  color: #e6edf3;
  font-size: 14px;
}

.previewBox {
  color: #fff;
  min-height: 300px;
  padding: 28px 16px;
  height: 100%;
}

.preview {
  word-wrap: break-word;
  padding: 0;
  width: 100%;
}