.wrap {
  width: 100%;
  max-width: 680px;
  height: auto;
  max-height: 650px;
  min-height: 440px;
  position: relative;

  & img {
    border-radius: 14px;
  }
}

.options {
  position: absolute;
  right: 13.5px;
  top: 13.5px;
}