.anchor {
  display: inline-flex;
  align-items: center;
  padding-left: .5rem;
  color: #007aff;
  cursor: pointer;
  opacity: 0;

  &::before {
    content: "#";
  }

  &:hover {
    text-decoration: underline;
  }
}
