@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    & .yoopta-block-actions button {
      color: #fff !important;
    }

    & .yoopta-toolbar-root {
      background-color: #1f1f1f;
      box-shadow: 0 4px 12px #0f0f0f;
      color: white;
    }

    & .yoopta-table td[data-cell-selected="true"] {
      background-color: #1f1f1f;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.yoopta-editor:not(#yoopta-email-builder .yoopta-editor) {
  width: 750px !important;
}

@media (max-width: 768px) {
  .yoopta-editor:not(#yoopta-email-builder .yoopta-editor) {
    width: 100% !important;

    & .yoopta-block-actions-plus {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .yoopta-block-actions-plus button {
    display: none !important;
  }
}

.yoopta-action-menu-list button span {
  line-height: 120%;
}

#highlight-color-portal,
#toolbar-portal,
#action-menu-list-portal,
.yoopta-mark-code,
.yoopta-extended-block-actions {
  color: #000;
}

[data-floating-ui-portal] {
  color: #000;
}

#slack .yoopta-editor .yoopta-block-action-buttons {
  display: none;
}

#slack .yoopta-editor .yoopta-mark-code {
  color: #e8912d;
  background-color: #2b2d30;
  font-variant-ligatures: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  tab-size: 4;
  border-radius: 3px;
  padding: 2px 3px 1px;
  font-size: 12px;
  line-height: 1.50001;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  border: 1px solid rgba(232, 232, 232, 0.13);
}


#slack .yoopta-editor .yoopta-code .yoopta-code-cm-editor .cm-editor {
  border: 1px solid rgb(53, 55, 59);
}

#slack .yoopta-editor .yoopta-code .cm-content {
  padding: 8px;
  line-height: 1.46668;
}

table,
th,
td {
  border: 1px solid black;
}

.yoopta-carousel .yoopta-carousel-options {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  top: 0px;
  right: 0px;
}

.yoopta-carousel:hover .yoopta-carousel-options {
  opacity: 1;
}

.yoopta-main-page-blockquote {
  color: white;
  background-color: #1f6feb;
  border-left-color: #00ca56 !important;
}