.relative {
  position: relative;
}

.absolute {
  position: absolute;
  opacity: 1;
}

.dropdown {
  width: auto;
  min-width: 200px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 6;
  transition: opacity 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 304px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 0 1px hsla(0,0%,6%,.05), 0 3px 6px hsla(0,0%,6%,.1), 0 9px 24px hsla(0,0%,6%,.2);
}

.elementList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
