.elementListItem {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  padding: 0;
  justify-content: flex-start;
  margin: 1px 0;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: rgba(55, 53, 47, 0.08);
  }

  span {
    margin-left: 8px;
  }

  &.__active {
    background: #007AFF;
  }


  &[data-element-active="true"] {
    background-color: rgba(55, 53, 47, 0.08);
  }

  &[aria-selected="true"] {
    background-color: rgba(55, 53, 47, 0.08);
  }
}

.hovered {
  background-color: rgba(55, 53, 47, 0.08);
}

.button {
  all: unset;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  background: inherit;
  width: 100%;
  padding: 8px 12px;
  height: 100%;
  border-radius: inherit;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;

  span {
    margin-left: 8px;
  }
}