.leaf {
  margin: 1px 0;
  white-space: pre-wrap;
  word-break: break-word;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.underline {
  border-bottom: 0.05em solid;
  word-wrap: break-word;
}

.code {
  background: #F7F7F7;
  color: #000000;
  padding: 2px 6px;
  font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
  font-size: 75%;
  margin: 3px 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
