/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: 'Montserrat', sans-serif;
}

#next {
  width: 100%;
  height: 100%;
  position: relative;
}

.yoopta-editor {
  margin: 0 auto;
}

#slack .yoopta-editor .yoopta-block-actions-plus {
  display: none;
}

#slack .yoopta-editor .yoopta-mark-code {
  color: #e8912d;
  background-color: #2b2d30;
  font-variant-ligatures: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  tab-size: 4;
  border-radius: 3px;
  padding: 2px 3px 1px;
  font-size: 12px;
  line-height: 1.50001;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  border: 1px solid rgba(232, 232, 232, 0.13);
}


#slack .yoopta-editor .yoopta-code .yoopta-code-cm-editor .cm-editor {
  border: 1px solid rgb(53, 55, 59);
}

#slack .yoopta-editor .yoopta-code .cm-content {
  padding: 8px;
  line-height: 1.46668;
}