.root {
  display: block;
  cursor: pointer;
  position: relative;

  &:hover {
    & .dotsOptions {
      opacity: 1;
    }
  }
}

.dotsOptions {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  opacity: 0;
  background-color: #eee;
  width: 22px;
  height: 22px;
  transition: opacity 150ms ease-in 0s;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 4px;
}

.dot {
  min-width: 3px;
  min-height: 3px;
  background-color: gray;
  border-radius: 50%;
}

.loadingState {
  cursor: wait;

  & a {
    pointer-events: none;
    opacity: 0.6;
    background: rgba(35, 131, 226, 0.14);
    cursor: inherit;
  }
}
