.callout {
  margin-bottom: 4px;
  letter-spacing: -0.003em;
  font-size: 16px;
  color: rgba(41, 41, 41, 1);
  line-height: 24px;
  position: relative;
  padding: 12px 14px;
  width: 100%;
  margin-top: 4px;
  margin-left: 0;
  background: rgba(245,247,249,1.00);
  border-radius: 5px;
  position: relative;
}