.editorLayout {
  background-color: #f5f5f5;
  height: 50px !important;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  position: relative;
}

.options {
  position: absolute;
  right: 13.5px;
  top: 13.5px;
  z-index: 2;
}

.selected {
  box-shadow: 0 0 0 3px #B4D5FF;
}

.text {
  font-size: 16px;
  color: #37352fa6;
}