.root {
  background: #f8f8f8;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #191e2e;
  color: #000;
  isolation: isolate;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transition: opacity 80ms ease-in;
  z-index: 2;
}

.rootIsEmpty {
  border-radius: 5px;
  border-top: none;
}

.loading {
  opacity: 1;
}

.content {
  width: 100%;
  min-height: 36px;
  padding: 2px 12px 2px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.body {
  display: flex;
  align-items: center;
  border: none;
  padding: 4px 0px;
  width: 100%;
  background: transparent;
  font-size: inherit;
  line-height: inherit;
  min-height: 28px;
}

.textarea {
  overflow: hidden;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  width: 100%;
  display: block;
  resize: none;
  padding: 5px 3px;
  color: inherit;
  font: inherit;
  margin: 0;

  &:focus {
    outline: none;
  }
}

.flight {
  height: auto;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;

  svg {
    fill: #191e2e
  }
}