.callout {
  margin-top: 0.86em;
  margin-bottom: -0.46em;
  letter-spacing: -0.003em;
  font-size: 21px;
  color: rgba(41, 41, 41, 1);
  line-height: 32px;
  position: relative;
  padding: 8px 12px;
  width: 100%;
  margin-top: 1.5em;
  margin-left: 0;
  background: #F7F7F7;
  border-radius: 5px;
}