.heading-two {
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 1.72em;
  margin-bottom: -0.31em;
  color: rgba(41, 41, 41, 1);
}