.heading-one {
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-top: 1.45em;
  margin-bottom: -0.28em;
  letter-spacing: 0;
  color: rgba(41, 41, 41, 1);
}
