
.main {
  position: fixed;
  left: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  & h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.exampleList {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;

  & li {
    padding: 0;
    margin: 7px 0;
    font-size: 18px;
    display: flex;
  }

  & a {
    color: blue;
    margin-right: 7px;
  }
}
