.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  transform-origin: 0% bottom;
  left: 0px;
  opacity: 1;
  bottom: 4px;
  border-radius: 4px;
  background: white;
}

.elementList {
  position: relative;
  max-width: calc(100vw - 24px);
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 324px;
  min-width: 180px;
  max-width: calc(100vw - 24px);
  height: 100%;
  max-height: 40vh;
  overflow-y: auto;
}

.group {
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
  margin-top: 6px;

  &:first-child {
    box-shadow: none;
  }
}

.groupTitle {
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 8px;
  color: rgba(55, 53, 47, 0.65);
  fill: rgba(55, 53, 47, 0.45);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  user-select: none;
  text-align: left;
}

.item {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: calc(100% - 8px);
  // margin-left: 4px;
  // margin-right: 4px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  line-height: 120%;
  width: 100%;
  user-select: none;
  min-height: 45px;
  font-size: 14px;
  width: 100%;
  border: none;
  padding: 4px 0;
  background-color: inherit;

  &[aria-selected="true"]{
    background-color: rgba(55, 53, 47, 0.08);
  }

  &:hover {
    background-color: rgba(55, 53, 47, 0.08);
  }
}

.itemLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 1px;
  align-self: flex-start;
} 

.leftImage {
  display: block;
  object-fit: cover;
  border-radius: 3px;
  background: white;
  width: 46px;
  height: 46px;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
}

.itemRight {
  margin-left: 6px;
  margin-right: 12px;
  min-width: 0px;
  flex: 1 1 auto;
  text-align: left;
}

.rightTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.rightDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(55, 53, 47, 0.65);
  margin-top: 2px;
  font-size: 12px;
  display: flex;
  align-items: center;
}