.heading-one {
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  margin-top: 30px;
  margin-bottom: 1px;
  letter-spacing: 0;
  color: rgba(41, 41, 41, 1);
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
}
