.image {
  display: block;
  // max-width: 680px;
  margin: 35px 0 10px 0;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  position: relative;
  
  & video {
    border-radius: 10px;
  }
}