.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .4);
  z-index: 2;
}

.options {
  position: absolute;
  right: 13.5px;
  top: 13.5px;
  z-index: 2;
}

.selected {
  box-shadow: 0 0 0 3px #B4D5FF;
}