
.placeholder:after {
  content: attr(data-placeholder);
  color: #aaa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  text-indent: 2px;
  font-size: 75%;
  font-weight: inherit;
  font-style: inherit;
  padding-left: 5px;
}

.selection {
  background-color: #ACCEF7;
}