@tailwind utilities;

.yoopta-editor * {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

::-moz-selection {
  background: #c6ddf8;
}

::selection {
  background: #c6ddf8;
}

.yoopta-placeholder::after {
  content: attr(data-placeholder);
  opacity: 0.5;
  color: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  text-indent: 2px;
  font-size: 75%;
  padding-left: 5px;
  font-weight: inherit;
  font-style: inherit;
}

/* common */
.yoopta-button {
  @apply yoo-editor-cursor-pointer yoo-editor-bg-transparent yoo-editor-border-none;
}

/* Block styles  */
.yoopta-block {
  @apply yoo-editor-relative yoo-editor-py-0 yoo-editor-px-[2px] yoo-editor-mt-[2px] yoo-editor-mb-[1px] yoo-editor-rounded
}

.yoopta-selection-block {
  @apply yoo-editor-absolute yoo-editor-left-0 yoo-editor-top-0 yoo-editor-bg-[#2383e224] yoo-editor-z-[90] yoo-editor-rounded yoo-editor-opacity-100 yoo-editor-h-full yoo-editor-w-full yoo-editor-pointer-events-none
}

.yoopta-block-actions {
  @apply yoo-editor-flex yoo-editor-absolute -yoo-editor-left-[50px] yoo-editor-top-[2px] yoo-editor-opacity-0 yoo-editor-transition-opacity data-[hovered-state-open="true"]:yoo-editor-opacity-100
}

.yoopta-block-actions-plus {
  @apply yoopta-button yoo-editor-cursor-pointer yoo-editor-rounded-[6px] yoo-editor-h-[24px] yoo-editor-flex yoo-editor-items-center yoo-editor-justify-center yoo-editor-bg-inherit yoo-editor-bg-transparent yoo-editor-transition-colors yoo-editor-duration-[180ms] yoo-editor-relative yoo-editor-w-[18px] yoo-editor-p-0 yoo-editor-text-[#37352f59] yoo-editor-m-[0_1px] hover:yoo-editor-bg-[#37362f14] focus:yoo-editor-bg-[#37362f14] active:yoo-editor-bg-[#37362f14] yoo-editor-w-[24px]
}

.yoopta-block-actions-drag {
  @apply yoopta-button yoo-editor-cursor-pointer yoo-editor-rounded-[6px] yoo-editor-h-[24px] yoo-editor-flex yoo-editor-items-center yoo-editor-justify-center yoo-editor-bg-inherit yoo-editor-bg-transparent yoo-editor-transition-colors yoo-editor-duration-[180ms] yoo-editor-relative yoo-editor-w-[18px] yoo-editor-p-0 yoo-editor-text-[#37352f59] yoo-editor-m-[0_1px] hover:yoo-editor-bg-[#37362f14] focus:yoo-editor-bg-[#37362f14] active:yoo-editor-bg-[#37362f14]
}

/* Slate editor styles */
.yoopta-slate {
  @apply focus-visible:yoo-editor-outline-none focus:yoo-editor-outline-none
}

/* Block options styles */
.yoopta-block-options-button {
  @apply yoopta-button yoo-editor-rounded-sm hover:yoo-editor-bg-[#37352f14] yoo-editor-leading-[120%] yoo-editor-px-2 yoo-editor-py-1.5 yoo-editor-mx-[4px] yoo-editor-cursor-pointer yoo-editor-w-full yoo-editor-flex yoo-editor-justify-start
}

.yoopta-block-options-item {
  @apply yoo-editor-relative yoo-editor-flex yoo-editor-cursor-default yoo-editor-select-none yoo-editor-items-center yoo-editor-text-sm yoo-editor-outline-none yoo-editor-transition-colors data-[disabled]:yoo-editor-pointer-events-none data-[disabled]:yoo-editor-opacity-50
}

.yoopta-extended-block-actions {
  @apply yoo-editor-absolute yoo-editor-right-[8px] yoo-editor-top-[8px] yoo-editor-flex yoo-editor-items-center yoo-editor-justify-between yoo-editor-z-10 yoo-editor-opacity-100 yoo-editor-bg-[#eee] yoo-editor-w-[22px] yoo-editor-h-[22px] yoo-editor-transition-opacity yoo-editor-duration-150 yoo-editor-ease-in yoo-editor-border-none yoo-editor-cursor-pointer yoo-editor-rounded-[2px] yoo-editor-p-[0_4px]
}

.yoopta-block-options-separator {
  @apply yoo-editor-h-[1px] yoo-editor-bg-[#37352f14] yoo-editor-my-[4px] yoo-editor-w-full
}

.yoopta-block-options-menu-content {
  @apply yoo-editor-bg-[#FFF] yoo-editor-relative yoo-editor-min-w-[200px] yoo-editor-w-auto yoo-editor-overflow-hidden yoo-editor-rounded-md yoo-editor-border yoo-editor-border-solid yoo-editor-border-[#e5e7eb] yoo-editor-py-[6px] yoo-editor-px-0 yoo-editor-shadow-md
}

.yoopta-block-options-group {
  @apply yoo-editor-flex yoo-editor-flex-col
}

/* Aligment for elements */
.yoopta-align-left {
  @apply yoo-editor-justify-start yoo-editor-text-left
}

.yoopta-align-center {
  @apply yoo-editor-justify-center yoo-editor-text-center
}

.yoopta-align-right {
  @apply yoo-editor-justify-end yoo-editor-text-right
}